@use "../../styles/partials/colors.scss" as *;

.items {
  margin-inline: .5rem;
  padding: 0.25rem;
  color: $palette-light-cream;
  &--secondary{
    background-color: $palette-red;
    height: auto;
    width: auto;
    margin: 1rem;
  }
}

.menu{
      display: none;
      visibility: hidden;
@media screen and (min-width: 1280px) {
    display: block;
    visibility: visible;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}