$white:#FFFFFF;
$black:#000;

$char-black:#353535;
$green:#3C6E71;
$palette-light-cream:#F1FAEE;
$pink:#e65f5c;




//not used
$palette-yellow: #F2E86D;
$opera-purple:#AD7A99;


$light-grey:#D9D9D9;
$blue:#284B63;
$engine-red:#C1292E;
$ruby-red:#A4031F;
$palette-dark-blue:#1D3557;
$palette-blue:#457B9D;
$palette-light-blue:#A8DADC;
$palette-red:#E63946;
