$white:#FFFFFF;
$black:#000;

$char-black:#353535;
$green:#3C6E71;
$palette-light-cream:#F1FAEE;
$pink:#e65f5c;
$yellow: #F2E86D;
$palette-dark-blue:#1D3557;
$red:#E63946;
$raisin-black: #272932;
$ash-gray:#b9c6aeb2;
$onyx: #313638;
$eggshell-white: #FBFBFF;
$oxford-blue:#001B2E;
$light-yellow: #ECFFB0;


//not used
