$white:#FFFFFF;
$black:#000;

$char-black:#353535;
$green:#3C6E71;
$light-grey:#D9D9D9;
$blue:#284B63;
$pink:#e65f5c;

$engine-red:#C1292E;
$ruby-red:#A4031F;

$opera-purple:#AD7A99;
$african-violet:#AA7BC3;

