@use "../../styles/partials/colors.scss" as *;

.hero {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 960px) {
  .hero {
    display: block;
    visibility: visible;
    background-color: $char-black;

    &__container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 30rem;
      margin-inline: auto;
      max-width: 70rem;
      justify-content: space-around;
    }
    &__title1 {
      padding: 0;
      margin: 0;
      align-self: flex-start;
      color: $white;
      font-weight: 200;
      font-size: xx-large;
      padding-left: 0.5rem;
      margin-top: 2rem;
    }
    &__title2 {
      padding: 0;
      margin: 0;
      align-self: flex-start;
      color: $white;
      font-weight: 500;
      font-size: 4rem;
    }
    &__title3 {
      padding: 0;
      margin: 0;
      align-self: flex-start;
      color: $pink;
      font-weight: 500;
      padding-top: 0.5rem;
    }
    &__bar{
      color: $white;
    }
    &__title4 {
      padding: 0;
      margin: 0;
      color: $white;
      font-weight: 200;
      font-size: xx-large;
      max-width: 16rem;
      align-self: flex-start;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
    &__main {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__round {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    &__logo {
      height: 24rem;
      width: 24rem;
      position: relative;
      justify-content: flex-end;
    }
    &__socials {
      background-color: $palette-light-cream;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 1.25rem;
    }
    // &__icon {
    //   color: $pink;
    //   height: 1.75rem;
    //   width: auto;
    //   &:hover {
    //     color: $yellow;
    //   }
    //   &:active {
    //     color: $yellow;
    //   }
    //   &:visited {
    //     color: $pink;
    //   }
    // }
    &__color1 {
      color: $pink;
      &:hover {
        color: $linkedin-blue;
      }
      &:active {
        color: $yellow;
      }
      &:visited {
        color: $white;
      }
    }
    &__color2 {
      color: $pink;
      &:hover {
        color: $black;
      }
      &:active {
        color: $yellow;
      }
      &:visited {
        color: $white;
      }
    }
    &__color3 {
      color: $pink;
      &:hover {
        color: $purple;
      }
      &:active {
        color: $yellow;
      }
      &:visited {
        color: $white;
      }
    }
    &__button {
      display: flex;
      align-self: flex-start;
      margin-top: 2rem;
      padding-left: 2rem;
    }
  }
}
