@use "../../styles/partials/colors.scss" as *;

.card {
  max-width: 80rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: 1.5rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem;
  padding: 0.25rem;
  background-color: $white;
  &--secondary {
    background-color: $char-black;
    color: $palette-light-cream;
    height: auto;
    width: auto;
    margin: 1rem;
    font-weight: 600;
    padding: 0;
  }
  &--about {
    margin-top: 0;
  }
  &--projects {
    color: $palette-dark-blue;
    max-width: fit-content;
  }
  &--holder{
    background-color: $raisin-black;
    color: $white;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 362px;
  }
  &--holder1{
    display: none;
    visibility: hidden;
  }
  @media screen and (min-width: 768px) {
    &--holder{
      flex-direction: row;
      height: 664px;
      min-width: 666px;
    }
  }
  @media screen and (min-width: 960px) {
    &--desktop {
      border: none;
      box-shadow: none;
      background-color: transparent;
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
    }
    &--secondary {
      height: 10rem;
      position: relative;
    }
    &--holder{
      max-height: 30rem;
      max-width: 46.875rem;
      margin-inline: auto;
    }
  }
  @media screen and (min-width: 1100px){
    &--holder{
      margin-inline: auto;
      max-height: 30rem;
      min-width: 50rem;
    }
  }
  @media screen and (min-width: 1280px) {
    &--projects {
      color: $palette-dark-blue;
      max-height: 20.75rem;
    }
      &--holder1{
        background-color: $raisin-black;
        color: $white;
        border-radius: 0;
        display: block;
        visibility: visible;
        max-height: 30rem;
        min-width: 50rem;
      }
    
  }
}
