@use "../../styles/partials/colors.scss" as *;

.card {
  max-width: 80rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: 1.5rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem;
  padding: 0.25rem;
  background-color: $white;
  text-decoration: none;
  &--secondary {
    background-color: $char-black;
    color: $palette-light-cream;
    height: auto;
    width: auto;
    margin: 1rem;
    font-weight: 600;
    padding: 0;
  }
  &--about {
    margin-top: 0;
  }
  &--projects {
    color: $palette-dark-blue;
    max-width: fit-content;
    margin: .5rem;
  }
  &--holder {
    background-color: $raisin-black;
    color: $white;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17rem;
    padding-bottom: .5rem;
  }
  &--contact2 {
    display: none;
    visibility: hidden;
  }
  &--contact1 {
    height: 30rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    color: $eggshell-white;
    background-color: $oxford-blue;
    border-radius: 0;
  }
  @media screen and (min-width: 768px) {
    &--contact1 {
      height: 30rem;
      width: 35rem;
    }
  }
  @media screen and (min-width: 960px) {
    &--desktop {
      border: none;
      box-shadow: none;
      background-color: transparent;
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
    }
    &--secondary {
      height: 10rem;
      position: relative;
    }
    &--holder {
    }
    &--contact2 {
      display: block;
      visibility: visible;
      position: absolute;
      grid-row: 1;
      top: 1.25rem;
      left: -8rem;
      height: 28rem;
      width: 20rem;
      background-color: $light-yellow;
      color: $char-black;
    }
    &--contact1 {
      position: relative;
      left: 3rem;
      height: 34rem;
      width: 48rem;
      padding-left: 15rem;
      margin-top: 5rem;
    }
  }
}
