@use "../../styles/partials/colors.scss" as *;

.about {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 70rem;
    margin-inline: auto;
    gap: 1rem;
  }
  &__main {
    background-color: $light-yellow;
    position: relative;
    margin-top: 7rem;
    padding-top: 10.5rem;
  }
  &__hold {
    position: absolute;
    top: -6rem;
    width: 100%;
    display: flex;
  }
  &__image {
    margin-inline: auto;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  &__paragraph {
    color: $char-black;
  }
  &__title {
    color: $char-black;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &__title2 {
    color: $char-black;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
  &__boxicon {
    display: none;
    visibility: hidden;
  }
  &__rcontainer {
    display: none;
    visibility: hidden;
  }
  @media screen and (min-width: 768px) {
    padding-inline: 2rem;
    &__paragraph {
      padding-left: 1.5rem;
    }
    &__pcontainer {
      display: flex;
      flex-direction: row;
    }
    &__tcontainer {
      display: flex;
      margin-left: 1.25rem;
    }
  }
  @media screen and (min-width: 960px) {
    &__about {
      margin-inline: auto;
    }
    &__container {
      flex-direction: row;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    &__main {
      min-width: 25rem;
      height: 35rem;
      flex-grow: 1;
      margin-top: 10rem;
    }
    &__aside {
      padding-top: 10.5rem;
      flex-grow: 3;
    }
    &__pcontainer {
      display: flex;
      flex-direction: column;
    }
    &__tcontainer {
      display: flex;
      margin-left: 1.5rem;
    }
    &__ptitle {
      margin-top: 4rem;
      margin-bottom: 0.5rem;
    }
    &__icon {
      height: 2rem;
      width: auto;
      color: $char-black;
      &:hover {
        color: $pink;
      }
      &:active {
        color: $white;
      }
      &:visited {
        color: $char-black;
      }
    }
    &__boxicon {
      display: block;
      visibility: visible;
      display: flex;
      margin-top: 5rem;
      justify-content: space-evenly;
    }
    &__rcontainer {
      display: block;
      visibility: visible;
      display: flex;
      border-radius: 8rem;
      width: 8.5rem;
      height: 3rem;
      background-color: $char-black;
      border: 2px solid $char-black;
      text-align: center;
      margin-inline: auto;
      margin-top: 5rem;
      &:hover {
        background-color: $pink;
      }
      &:active {
        background-color: $white;
      }
    }
    &__resume {
      text-decoration: none;
      color: $white;
      padding: 0.75rem;
      font-weight: 600;
      font-size: large;
      width: 100%;
      height: 100%;
      &:active {
        color: $char-black;
      }
    }
  }
  @media screen and (min-width: 1100px) {
    &__paragraph {
      max-width: 36.75rem;
    }
    &__button {
      max-width: 36.75rem;
    }
    &__aside {
      padding-top: 14rem;
    }
  }
}
