@use "../../styles/partials/colors.scss" as *;

.projects {
  &__box {
    background-color: $red;
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    height: 3rem;
    &:hover {
      background-color: $char-black;
    }
    &:active {
      background-color: $yellow;
    }
  }
  &__icon {
    justify-content: center;
    color: $white;
    &:hover {
      color: $black;
    }
  }
  &__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }
  &__link {
    padding-top: 0.5rem;
  }
  &__top {
    color: $white;
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    &:active {
      color: $char-black;
    }
  }
  &__hidden {
    display: none;
    visibility: hidden;
  }
  &__image {
    height: 10rem;
    width: 10rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin: 0;
  }
  &__title {
    font-weight: 600;
    color: $white;
    justify-content: center;
  }
  @media screen and (min-width: 490px) {
    margin-inline: auto;
    &__container {
      margin-inline: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 700px;
    }
  }
  @media screen and (min-width: 720px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
