@use "../../styles/partials/colors.scss" as *;

.projects {
  &__box {
    background-color: $red;
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 12rem;
    height: 4rem;
    &:hover {
      background-color: $char-black;
    }
  }
  &__link {
    color: $white;
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    text-decoration: none;
    font-weight: 600;
  }
  &__hidden {
    display: none;
    visibility: hidden;
  }
  &__image {
    height: 10rem;
    width: 10rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-left: 3rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    max-width: 362px;
  }
  &__title {
    font-weight: 600;
    text-decoration: underline;
    color: $ash-gray;
  }
  @media screen and (min-width: 768px) {
    &__box {
      width: 16rem;
      margin-top: 4rem;
    }
    &__container {
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 2rem;
    }
  }
  @media screen and (min-width: 960px) {
    &__box {
      width: 25rem;
    }
    &__image {
      height: 20rem;
      width: 20rem;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 6rem;
      max-width: 70rem;
      margin-inline: auto;
      align-self: center;
      padding: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    &__hidden {
      display: block;
      visibility: visible;
      display: flex;
      min-height: 30rem;
      min-width: 50rem;
      margin-top: 3rem;
    }
    &__description1 {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      margin-left: 4rem;
      margin-right: 2rem;
      padding-bottom: 1rem;
      max-width: 362px;
      margin-top: 2rem;

    }
  }
}
