@use "../../styles/partials/colors.scss" as *;

.header {
  background-color: $green;
  color: $white;
  height: 12rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem;
  align-items: space-between;
  width: 100%;
  &__menu {
    display: none;
    visibility: hidden;
  }
  &__main {
    display: flex;
    gap: 1rem;
    align-self: center;
    margin-top: 1rem;
    padding: 1rem;
  }
  &__item {
    list-style: none;
  }
  &__container {
    display: inline-flex;
    flex-direction: row;
  }
  &__icon {
    color: $white;
    &:hover {
      color: $palette-dark-blue;
    }
    &:active {
      color: $yellow;
    }
    &:visited {
      color: $white;
    }
  }
  &__center {
    align-self: center;
    padding-top: 1rem;
  }
  &__logo {
    height: 6rem;
    width: 6rem;
  }
  &__burger {
    color: $black;
    position: absolute;
    right: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;

  }
}

.switch{
  display: none;
  visibility: hidden;
}
.slider{
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    height: auto;
    &__main {
      align-self: flex-end;
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    height: 3rem;
    &__main{
      display: none;
      visibility: hidden;
      
    }
    &__center{
      display: none;
      visibility: hidden;
    }
    &__container{
      display: flex;
      justify-content: center;
      padding: 0;
      width: 100%;
    }
    &__burger{
      display: none;
      visibility: hidden;
    }
  }
  .switch{
    display: block;
    visibility: visible;
  }
  .slider{
    display: block;
    visibility: visible;
  }
  /* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
  opacity: 1;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #ccc;
 }

 .slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: #000000;
  border: 1px solid transparent;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.5em);
 }
}
