@use "../../styles/partials/colors.scss" as *;

.menu {

  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: fixed;
  top: 0;
  left: 0;
  color: $white;
  padding-top: 2rem;
  &__item {
    padding: .5rem;
    margin: .5rem;
    margin-left: 1rem;
  }
}
