@use "../../styles/partials/colors.scss" as *;

.sidebar{
  background-color:$red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  &--hidden{
      visibility: hidden;
      display: none;
  }
  &__close{
      font-size: xx-large;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      top: 1rem;
      right: 1.25rem;
  }
}
