@use "../../styles/partials/colors.scss" as *;

.textfield {
  .form {
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 1.5rem;
    padding-inline: 1.5rem;
    min-width: 14rem;
    &::placeholder {
      color: $char-black;
      font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif;
    }
    &__input {
      color: $char-black;
      font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif;
    }
    &--message {
      min-height: 8rem;
      padding-top: 1rem;
      resize: none;
    }
      @media screen and (min-width: 768px) {
        width: 20rem;
        height: 2.5rem;
      }
    @media screen and (min-width: 960px) {
      width: 22rem;
      margin-top: .5rem;
      border-radius: 2rem;
    }
  }
}
