@use "../../styles/partials/colors.scss" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding-bottom: 4rem;
  &__title1 {
    display: none;
    visibility: hidden;
  }
  &__outside {
    color: $onyx;
    font-size: 3rem;
    text-align: center;
  }
  &__box {
    margin: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    &__outside {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }
  @media screen and (min-width: 960px) {
    &__title1 {
      display: block;
      visibility: visible;
      margin: 0;
      margin-right: 2rem;
      margin-top: 2.5rem;
      font-size: 2.25rem;
      font-weight: 300;
    }
    &__title2 {
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.15rem;
      font-weight: 200;
      max-width: 200px;
      margin-right: 10rem;
    }
    &__outside {
      display: none;
      visibility: hidden;
    }
    &__box {
      margin: 0;
      justify-content: flex-start;
    }
    &__square {
      display: flex;
      margin-left: 3rem;
      margin-bottom: 2rem;
    }
    &__social {
      margin-left: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0.25rem;
      text-decoration: none;
      color: $char-black;
      &:visited {
        color: $char-black;
      }
      &:hover {
        color: $pink;
      }
      &:active {
        color: $yellow;
      }
    }
    &__title3 {
      color: $char-black;
      max-width: 6rem;
      padding-left: 3rem;
      margin-top: 4rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
